@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Poppins";
    width: 100%;
    height: 100vh;
    background-color: #f9f8fd;
}

.ReactModalPortal {
    z-index: 999;
    position: absolute;
    /* heigth & width for tab */
    width: 100vh;
    height: 100vh;
}

/* to eliminate auto generated modal overlay */
.ReactModalPortal:empty {
    z-index: 999;
    position: absolute;
    width: 0;
    height: 0;
}
